In [ ]:
#range function behave like generator
dir(range)

['__bool__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index',
 'start',
 'step',
 'stop']

In [ ]:
print(range(10))

range(0, 10)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(10)) #list is iterable function

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
iter(range(10))

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from

In [ ]:
list(range(3,8)) #include start point but exclude the end point

[3, 4, 5, 6, 7]

In [ ]:
list(range(10,-3,-1)) #third position indicate steps if we cant specify for this case then it return empty list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2]

In [ ]:
list(range(10,-3,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2]

In [ ]:
list(range(-3,5,-1)) #if we move from  negative to positive size then we should declare the step size of negative otherwise it return empty

[]

In [ ]:
list(range(-3,5,1)) #if we move from positive to negative size then there is no need to specify the step by default step is 1

[-3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list(range(1,5.3)) #not available for float point

TypeError: ignored

In [ ]:
import numpy as np
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(1,2.5,) #allow float values to iterate

array([1., 2.])

In [ ]:
l=[3,4,5,6,7]

l1=l*3
print(l1)v#it repeat the same list 3 time

[3, 4, 5, 6, 7, 3, 4, 5, 6, 7, 3, 4, 5, 6, 7]

In [ ]:
l2=[]
for i in l:  #iterate each element of list and manipulate the same and store the data in different list
  l2.append(i*2)
print(l2)

[6, 8, 10, 12, 14]

In [ ]:
for i in l2[::-1]:
  print(i,end=',')

14,12,10,8,6,

In [ ]:
l=[2,3,4,5,6,7]
m=[]

for i in range(len(l)):
  if l[i]>=4:
    m.append(l[i])
print(m)

[4, 5, 6, 7]

In [ ]:
l=[2,3,4,5,6,7,'Nitesh','Pandey']
m=[]

for i in l:
  if i>=5:
    m.append(i+2)
print(m)

[7, 8, 9]

In [ ]:
l=[2,3,4,5,6,7,'Nitesh','Pandey'] #create a new list and insert the data if given element of the list is string
m=[]

for i in l:
  if type(i)==str:
    print('Value of i is ',i)
    m.append(i)

Value of i is  Nitesh
Value of i is  Pandey

In [ ]:
m

['Nitesh', 'Pandey']

In [ ]:
type(True)

bool

In [ ]:
##in python else is possible with for statement without if

for i in l:
  print(i)
else:
  print('No element is pending to print')

2
3
4
5
6
7
Nitesh
Pandey
No element is pending to print

In [ ]:
#else without the if 
for i in l:
  print(i)
  else:
    print('No element is pending to print')

SyntaxError: ignored

In [ ]:
for i in l:
  print(i)
  break
else:
  print('No elemt is pending to print')

2

In [ ]:
for i in l:
  print(i)
  continue
else:
  print('No element is pending to print')

2
3
4
5
6
7
Nitesh
Pandey
No element is pending to print

In [ ]:
#String Operation

S='Nitesh Pandey'
S.lower()

'nitesh pandey'

In [ ]:
S.upper()

'NITESH PANDEY'

In [ ]:
S.split() # String to list convert

['Nitesh', 'Pandey']

In [ ]:
n='name@is@nitesh@pandey'

In [ ]:
n.split()#default separator is white space hence it not separate the value

['name@is@nitesh@pandey']

In [ ]:
n.split('@')

['name', 'is', 'nitesh', 'pandey']

In [ ]:
n.split('e')#separate based on string.It's also case sensitive

['nam', '@is@nit', 'sh@pand', 'y']

In [ ]:
#partition vs split
s='Nitesh Sarvesh Pandey'
s.split()

['Nitesh', 'Sarvesh', 'Pandey']

In [ ]:
s.partition() #it required at least one argument which is separator not like split

TypeError: ignored

In [ ]:
s1='NiteshPandey' #return tuple as data type and split return the list data type
s1.partition('P')

#split return any number of argument 
#Partition return only 3 number of argument
#Partition only separate the data based on first occurrance but split can be separate based on any

('Nitesh', 'P', 'andey')

In [ ]:
l=[4,5,6,7,5,[3,4,5,6,5,5]]
print(l)

[4, 5, 6, 7, 5, [3, 4, 5, 6, 5, 5]]

In [ ]:
for i in l:
  if i==5:
    l.remove(5)
  if type(i)==list:
    for j in i:
      if j==5:
        i.remove(5)

In [ ]:
l

[4, 6, 7, [3, 4, 6]]

In [ ]:
#find the prime number 
def is_prime(x):
  for i in range(2,x):
    if x%2==0:
      print('This number is not a prime number')
      break
  else:
    print('This number is a prime number')

In [ ]:
is_prime(17)

This number is a prime number

In [ ]:
#integer is not a iterable object
for i in 4:
  print(i)

TypeError: ignored

In [ ]:
#List is a iterable object
for i in [2,3,4,5,'Nitesh']:
  print(i)

2
3
4
5
Nitesh

In [ ]:
#Tuple is a iterable object
for i in (2,3,4,5,'Nitesh'):
  print(i)

2
3
4
5
Nitesh

In [ ]:
#String  is a iterable object not iterator
for i in 'Nitesh':
  print(i)

N
i
t
e
s
h

In [ ]:
#we can convert any object to iterator if it is iterable
#to access any object we first need to convert to iterator object from iterable object

a=iter('Nitesh Pandey')
type(a)

str_iterator

In [ ]:
next(a)

StopIteration: ignored

In [ ]:
next('Nitesh') #string is a iterable object not an iterator object

TypeError: ignored

In [ ]:
next(12) #int is neither iterable nor an iterator object

TypeError: ignored

In [ ]:
iter(12)

TypeError: ignored

In [ ]:
for i in 'Nitesh':
  print(i)

N
i
t
e
s
h

In [ ]:
#generator
#create or generate a sequence of values 
#range()

In [ ]:
range(1,10)

range(1, 10)

In [ ]:
next(range(1,10))

TypeError: ignored

In [ ]:
i=iter(range(10)) #range function is iterable object

In [ ]:
next(i)

2

In [ ]:
type(range(10))

range

In [ ]:
#Create a generator using yield method

def gencube(n):
  for i in range(n):
    yield i**3

In [ ]:
gencube(10)

In [ ]:
for i in gencube(10):
  print(i)

0
1
8
27
64
125
216
343
512
729

In [ ]:
next(gencube(10)) #currently gencube is generator and iterable object but not an iterator so to make it iterator we need to convert first and then iterate through it

0

In [ ]:
gen=iter(gencube(5))

In [ ]:
next(gen)

1

In [ ]:
def fibonacci(n):
  f=0
  s=1
  print(f)
  print(s)
  for i in range(n-2):
    t=f+s
    f=s
    s=t
    print(t)

In [ ]:
fibonacci(7)

0
1
1
2
3
5
8

In [ ]:
def genfibo(n):
  a=0
  b=1
  for i in range(n):
    yield a
    a,b=b,a+b

In [ ]:
genfibo(4)

In [ ]:
for i in genfibo(7):
  print(i)

0
1
1
2
3
5
8

In [ ]:
#Map,Reduce,Filter

In [ ]:
l=[3,5,7,9,1,2,4,6,8]

In [ ]:
m=[]
for i in l:
  m.append(i**2)

In [ ]:
m

[9, 25, 49, 81, 1, 4, 16, 36, 64]

In [ ]:
n=[i**2 for i in l]
print(n)

[9, 25, 49, 81, 1, 4, 16, 36, 64]

In [ ]:
def square(n):
  return n**2

In [ ]:
p=[]
for i in l:
  p.append(square(i))

In [ ]:
p

[9, 25, 49, 81, 1, 4, 16, 36, 64]

In [ ]:
map(square,l) #it also act like generator

In [ ]:
list((map(square,l)))

[9, 25, 49, 81, 1, 4, 16, 36, 64]

In [ ]:
for i in map(square,l):
  print(i,end=' ')

9 25 49 81 1 4 16 36 64

In [ ]:
#map function using lambda keyword
#lambda function is also called as anonymous function means function without name
list(map(lambda x:x**2,l))

[9, 25, 49, 81, 1, 4, 16, 36, 64]

In [ ]:

a=lambda x:x>5

In [ ]:
#for this operation we can performed using filter function
list(map(a,l))

[False, False, True, True, False, False, False, True, True]

In [ ]:
for i in map(a,l):
  print(i)

False
False
True
True
False
False
False
True
True

In [ ]:
w,p,q,z='xyz',0,12,0.5

In [ ]:
print(w,_,_,z)

xyz [False, False, True, True, False, False, False, True, True] [False, False, True, True, False, False, False, True, True] 0.5

In [ ]:
print(w,p,q,z)

NameError: ignored

In [ ]:
#Reduce function
from functools import reduce

In [ ]:
#Reduce function with the help of lambda function.
l=[4,5,6,7,8]
reduce(lambda x,y:x+y,l)

30

In [ ]:
#User defind function
def sum(x,y):
  return x+y

In [ ]:
#Reduce function with user defind function
reduce(sum,l)

30

In [ ]:
#reduce function never takes 3 argument to perform any operation.
#Used for inline aggregation 
l=[4,5,6,7,8,9,10]

reduce(lambda b,a,c:b+a+c,l)

TypeError: ignored

In [ ]:
#Filter function is used to filter out data based on certain condition
l=[3,4,5,6,7]
list(filter(lambda x:x%2==0,l))

[4, 6]

In [ ]:
def eve_check(n):
  if n%2==0:
    return True

In [ ]:
list(filter(eve_check,l))

[4, 6]

In [ ]:
def odd_check(n):
  if n%2==1:
    return False

In [ ]:
list(filter(odd_check,l)) #it only filter based on true return not false value

[]

In [ ]:
a=iter(range(10))

In [ ]:
next(a)

3

In [ ]:
fn = lambda x: 1 if x \
                     else 2

In [ ]:
fn(True)

1

In [ ]:
fn(False)

2