#### **Import Numpy and find the version**

In [ ]:
import numpy as np
print(np.__version__)

1.22.4

#### **Convert Datatype of a numpy array**

In [ ]:
import numpy as np
arr=np.array([1,24,45.6,34.5,89.1])
arr

array([ 1. , 24. , 45.6, 34.5, 89.1])

In [ ]:
arr.dtype

dtype('float64')

In [ ]:
#Convert the data type of array from float to integer
arr=arr.astype('int64')
print(arr.dtype)

int64

In [ ]:
#Loss of values after decimal point due to conversion
arr

array([ 1, 24, 45, 34, 89])

#### **Identify the datatype of a given NumPy array**

In [ ]:
num=[[1,2,3],[4,5,6]]
arr=np.array(num)
print(arr)
print(f'datatype of array is {arr.dtype}')

[[1 2 3]
 [4 5 6]]
datatype of array is int64

#### **Create 1D array**

In [ ]:
arr=np.array(np.arange(1,10))
print(arr)
print(type(arr))

[1 2 3 4 5 6 7 8 9]
<class 'numpy.ndarray'>

#### **How do you create a 2D array**

In [ ]:
num=[[1,2],[3,4]]
arr_2d=np.array(num)
print(f'dimensions of created array is {arr_2d.ndim}')

dimensions of created array is 2

#### **How do you create a 3D array**

In [ ]:
num=[[[1,2,3],[4,5,6],[7,8,9]]]
arr_3d=np.array(num)
print(f'dimensions of created array is {arr_3d.ndim}')

dimensions of created array is 3

#### **Create a 3*3 shape of ndarray**

In [ ]:
arr=np.array(np.arange(1,10).reshape(3,3))
print(arr)
print(f'shape of an array is{arr.shape}')

[[1 2 3]
 [4 5 6]
 [7 8 9]]
shape of an array is(3, 3)

#### **Create a 3*3 numpy array with True values**

In [ ]:
arr=np.full((3,3),fill_value=True) #np.full((3,3),True)
arr

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
#Method-2
import numpy as np
np.ones((3,3),dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

#### **Extract all odd number from array**

In [ ]:
arr=np.arange(10)
arr[arr%2==1]

array([1, 3, 5, 7, 9])

#### **Replace all odd numbers in array with -1**

In [ ]:
arr[arr%2==1]=-1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [ ]:
arr=np.arange(10)
np.where([arr%2==1],-1,arr)

array([[ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1]])

#### **Convert one dimension array to 2 dimensions array**

In [ ]:
arr=np.arange(10)
new_arr=arr.reshape(2,5)
print(new_arr)
print(f'dimensions of new array is {new_arr.ndim}')

[[0 1 2 3 4]
 [5 6 7 8 9]]
dimensions of new array is 2

#### **Stack array vertically**

In [ ]:
a=np.arange(6).reshape(2,3)
b=np.arange(6,12).reshape(2,3)
print('Array a \n',a)
print('Array b \n',b)

Array a
 [[0 1 2]
 [3 4 5]]
Array b
 [[ 6  7  8]
 [ 9 10 11]]

In [ ]:
#Method-1
np.concatenate([a,b])

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [ ]:
#Method-2
np.vstack([a,b])

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [ ]:
#Method-3
np.r_[a,b]

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

#### **Stack array Horizontaly**

In [ ]:
a=np.arange(6).reshape(2,3)
b=np.arange(6,12).reshape(2,3)
print('Array a \n',a)
print('Array b \n',b)

Array a
 [[0 1 2]
 [3 4 5]]
Array b
 [[ 6  7  8]
 [ 9 10 11]]

In [ ]:
#Method-1
np.concatenate([a,b],axis=1)

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

In [ ]:
#Method-2
np.hstack([a,b])

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

In [ ]:
#Method-3
np.c_[a,b]

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

#### **Create a specified repetition of each element in given array**

In [ ]:
# array([1,1,1,2,2,2,3,3,3])
arr=np.arange(1,4)
arr

array([1, 2, 3])

In [ ]:
np.repeat(arr,3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

#### **Create a specified repetition of given array**

In [ ]:
# arr([1,2,3,1,2,3])
arr=np.arange(1,4)
arr

array([1, 2, 3])

In [ ]:
np.tile(arr,2)

array([1, 2, 3, 1, 2, 3])

#### **Get the common items between a and b**

In [ ]:
a=np.arange(1,10)
b=np.arange(4,12)
print(f'Array a is \n {a}')
print(f'Array b is \n {b}')

Array a is
 [1 2 3 4 5 6 7 8 9]
Array b is
 [ 4  5  6  7  8  9 10 11]

In [ ]:
np.intersect1d(a,b)

array([4, 5, 6, 7, 8, 9])

#### Multiply a matrix of dimension 5x3 with another matrix of dimension 3x2

In [ ]:
a=np.random.randn(5,3)
b=np.random.randn(3,2)

print(a)
print(b)

[[-0.35504488  0.83013323  0.21705201]
 [ 0.3879345  -1.53976688 -0.01080784]
 [ 0.98356079 -0.61385025 -0.28383968]
 [-1.9846864   0.97049666  0.08404354]
 [-1.374688    0.85570848  0.11928666]]
[[-0.98741571 -0.63852505]
 [ 1.01649114 -0.08112192]
 [-1.237049   -0.20416356]]

In [ ]:
np.matmul(a,b)

array([[ 0.92589599,  0.11504893],
       [-1.93484217, -0.12059048],
       [-1.24403313, -0.52028177],
       [ 2.84224582,  1.1713848 ],
       [ 2.07964517,  0.78400201]])

In [ ]:
#It produce same output as above shell output
a@b

array([[ 0.92589599,  0.11504893],
       [-1.93484217, -0.12059048],
       [-1.24403313, -0.52028177],
       [ 2.84224582,  1.1713848 ],
       [ 2.07964517,  0.78400201]])

#### **Remove all element from c array which is present in d array.**

In [ ]:
c=np.array([2,3,4,5,6])
d=np.array([2,3,5,8,9])
print(f'Array c is \n {c}')
print(f'Array d is \n {d}')

Array c is
 [2 3 4 5 6]
Array d is
 [2 3 5 8 9]

In [ ]:
np.setdiff1d(c,d)

array([4, 6])

#### **Get the index position where element of each array is matched**

In [ ]:
np.where(c==d)

(array([0, 1]),)

#### **Get All items between 4 and 8**

In [ ]:
import numpy as np
a=np.array([1,2,3,4,6,8,9])

(array([3, 4, 5]),)

In [ ]:
#method-1
ind_val=np.where((a>=5)&(a<=8))
a[ind_val]

array([6, 8])

In [ ]:
#method-2
ind_val=np.where(np.logical_and((a>=5),(a<=8)))
a[ind_val]

array([6, 8])

In [ ]:
#method-3
a[(a>=5)&(a<=8)]

array([6, 8])

#### **Find the max values from 2 different ndarrays**

In [ ]:
x=np.array([1,2,3,45])
y=np.array([3,4,5,6])

In [ ]:
def max_value(x,y):
  if x>=y:
    return x
  else:
    return y

In [ ]:
pair_val=np.vectorize(max_value,otypes=['float64'])

In [ ]:
pair_val(x,y)

array([ 3.,  4.,  5., 45.])

#### **Swap columns 1 and 2 in the array**

In [ ]:
arr=np.arange(0,9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [ ]:
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

#### **Swap rows of array**

In [ ]:
arr[[1,0,2],:]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

####**reverse a NumPy array**

In [ ]:
arr=np.array([1,5,8,3,4])
reverse_arr=arr[::-1]
print(reverse_arr)

[4 3 8 5 1]

In [ ]:
#method-2
reverse_arr = np.flipud(arr)
print(reverse_arr)

[4 3 8 5 1]

#### **fliplr vs flipud**
* The fliplr() method is used for flipping an array in the left or right direction.

* The flipud() method is used for flipping an array in the up or down direction.

In [ ]:
import numpy as np
arr=np.array(np.arange(1,9).reshape(4,2))
print(arr)
print('Result of flipped array is:')
np.fliplr(arr)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
Result of flipped array is:

array([[2, 1],
       [4, 3],
       [6, 5],
       [8, 7]])

In [ ]:
import numpy as np
arr=np.array(np.arange(1,9).reshape(4,2))
print(arr)
print('Result of flipped array is:')
np.flipud(arr)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
Result of flipped array is:

array([[7, 8],
       [5, 6],
       [3, 4],
       [1, 2]])

#### **Reverse the rows of an array**

In [ ]:
arr[::-1]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

#### **Reverse the columns of an array**

In [ ]:
arr[:,::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

#### **Create a random number between 5 and 10 having size of (5,3)**

In [ ]:
import random
np.array(np.random.randint(5,10,size=(5,3)))

array([[6, 7, 5],
       [5, 7, 6],
       [6, 5, 6],
       [6, 8, 7],
       [7, 8, 5]])

In [ ]:
#method-1
rand_arr=np.random.random([5,3])
np.around(rand_arr, decimals=3)

array([[0.66 , 0.328, 0.218],
       [0.556, 0.673, 0.749],
       [0.31 , 0.768, 0.437],
       [0.871, 0.159, 0.183],
       [0.6  , 0.394, 0.281]])

In [ ]:
#method-2
np.set_printoptions(precision=3)
rand_arr

array([[0.66 , 0.328, 0.218],
       [0.556, 0.673, 0.749],
       [0.31 , 0.768, 0.437],
       [0.871, 0.159, 0.183],
       [0.6  , 0.394, 0.281]])

####**How to suppress the use of scientific notations for small numbers using NumPy.**

In [ ]:
import numpy as np
rand_arr=np.random.random([2,2])/1e3
rand_arr

array([[0.00034941, 0.00061035],
       [0.0004989 , 0.00062649]])

In [ ]:
np.set_printoptions(suppress=True,precision=3)
rand_arr

array([[0.   , 0.001],
       [0.   , 0.001]])

#### **Limit the number of item printed in python numpy array maximum of 6 elements.**

In [ ]:
import sys
np.set_printoptions(threshold=6)
np.arange(10)

array([0, 1, 2, ..., 7, 8, 9])

In [ ]:
np.set_printoptions(sys.maxsize)
np.arange(13)

array([ 0,  1,  2, ..., 10, 11, 12])

#### **Print the full numpy array without truncating.**

In [ ]:
np.set_printoptions(threshold=sys.maxsize)
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

####**Replace all values greater than 30 to 30 and less than 10 to 10**

In [ ]:
val=np.array([10,70,30,43,56,5,70])
np.where(val>30,30,10)

array([10, 30, 10, 30, 30, 10, 30])

In [ ]:
np.clip(val,a_min=10,a_max=30)

array([10, 30, 30, 30, 30, 10, 30])

#### **Convert array of array into a flat linear 1d array**

In [ ]:
arr1=np.arange(3)
arr2=np.arange(4,7)
arr3=np.arange(7,10)

arr=np.array([arr1,arr2,arr3])

In [ ]:
arr

array([[0, 1, 2],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#Method-1
np.concatenate(arr)

array([0, 1, 2, 4, 5, 6, 7, 8, 9])

In [ ]:
#Method-2
arr.flatten()

array([0, 1, 2, 4, 5, 6, 7, 8, 9])

In [ ]:
#Method-3
arr.ravel() #np.ravel(arr)

array([0, 1, 2, 4, 5, 6, 7, 8, 9])

#### Sort the array using argsort() method

In [ ]:
arr=np.random.randint(20,size=5)
arr

array([ 7, 17,  0,  1,  2])

In [ ]:
#Return the indices that would sort an array
print(f'indices position in ascending order is {np.argsort(arr)}')
print(f'Final array is {arr[np.argsort(arr)]}')

indices position in ascending order is [2 3 4 0 1]
Final array is [ 0  1  2  7 17]

#### **Find the maximum values in each row of numpy 2_d array.**

In [ ]:
 arr_2d=np.arange(1,10).reshape(3,3)
arr_2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr_2d.max(axis=1) #np.amax(arr_2d,axis=1)

array([3, 6, 9])

In [ ]:
arr_2d.max(axis=0) #np.amax(arr_2d,axis=0)

array([7, 8, 9])

array([7, 8, 9])

In [ ]:
a=np.array([1,1,2,3,4,5,4,5,6])
res=np.full(a.shape,True)
index_pos=np.unique(a,return_index=True)[1]
print(f'Actual array is {a}')
print(f'index position of first occurance of value {index_pos}')
res[index_pos]=False
print(res)

Actual array is [1 1 2 3 4 5 4 5 6]
index position of first occurance of value [0 2 3 4 5 8]
[False  True False False False False  True  True False]

In [ ]:
np.full(a.shape,True)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

In [ ]:
arr=np.array([1.2,np.nan,4.5,3,8])
print(~np.isnan(arr))

[ True False  True  True  True]

In [ ]:
#Return the indices of values which is not a nan 
print(np.argwhere(~np.isnan(arr)))

[[0]
 [2]
 [3]
 [4]]

In [ ]:
set(arr[~np.isnan(arr)])

{1.2, 3.0, 4.5, 8.0}

In [ ]:
import numpy as np

#### **Create a vector with values ranging from 10 to 49(inclusion)**

In [ ]:
a=np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

#### **Find the indices of non zero elements from array**

In [ ]:
arr=np.array([1,2,0,0,5,0])
index=np.where(arr>0)[0] #np.where(arr>0)
print(index)

[0 1 4]

#### **Fill the zeros value around border of existing array without changing the shape of array**

In [ ]:
arr=np.arange(1,10).reshape(3,3)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr[:,::2]=0
arr[::2,:]=0
print(arr)

[[0 0 0]
 [0 5 0]
 [0 0 0]]

####**Write a program to add a border of zeros around the existing array.**

In [ ]:
ones_arr = np.ones((3,3))
res = np.pad(ones_arr, pad_width=1, constant_values=0)
print(res)

[[0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 1. 1. 1. 0.]
 [0. 0. 0. 0. 0.]]

#### **Find the result of below expression**

In [ ]:
print(f'1.{0*np.nan}')
print(f'2.{np.nan==np.nan}')
print(f'3. {min(np.nan,np.inf)}')
print(f'4. {min(np.inf,np.nan)}')
print(f'5. {max(np.nan,np.inf)}')
print(f'6. {max(np.inf,np.nan)}')
print(f'7. {np.nan-np.nan}')

1.nan
2.False
3. nan
4. inf
5. nan
6. inf
7. nan

####**What is the procedure to count the number of times a given value appears in an array of integers**

## ![bincounts.png]()

In [ ]:
arr = np.array([0, 5, 4, 0, 4, 4, 3, 0, 0, 5, 2, 1, 1, 9])
np.bincount(arr)

array([4, 2, 1, 1, 3, 2, 0, 0, 0, 1])

####**np.average** takes an optional weight parameter. If it is not supplied they are equivalent.**np.mean** is used to calculate arithmetic mean.

#### **Check for an empty array or zero elements array**

In [4]:
import numpy as np
arr=np.zeros((1,0))
print(f'array size is {arr.size}')
print(f'Is array having any elements: {arr.any()}')

array size is 0
Is array having any elements: False

####**Convert Pandas DataFrame to a NumPy array**

In [ ]:
import pandas as pd
import numpy as np

dic_val={'cols1':[1,2,3],'cols2':[4,5,6]}
data=pd.DataFrame(dic_val)
data

   cols1  cols2
0      1      4
1      2      5
2      3      6

In [ ]:
data.to_numpy()

array([[1, 4],
       [2, 5],
       [3, 6]])

#### **Split() method in numpy array**

In [ ]:
import numpy as np
arr=np.array(np.arange(8))
np.split(arr,2)

[array([0, 1, 2, 3]), array([4, 5, 6, 7])]

In [ ]:
#For splitting of array number of element should be such that they are divided within specified sections
np.split(arr,3)

ValueError: ignored

####**arrays_split() method for splitting the NumPy array**

In [ ]:
#The array_split() method is similar to the split() method as it helps in splitting a given array to multiple subarrays. 
#The main difference is that the array_split() allows sections to be an integer which does not result in equal array division.
np.array_split(arr,3)

[array([0, 1, 2]), array([3, 4, 5]), array([6, 7])]

#### **WAP to convert a string element to upper,lower,capitalizr,title and swapcase of given numpy array**

In [ ]:
import numpy as np
arr=np.array(['python','c','c#','.net','R','Ruby'])

In [ ]:
print(f'Upper case array {np.char.upper(arr)}')
print(f'Lower case array {np.char.lower(arr)}')
print(f'Capitalize array {np.char.capitalize(arr)}')
print(f'Title case array {np.char.title(arr)}')
print(f'swap case array {np.char.swapcase(arr)}')

Upper case array ['PYTHON' 'C' 'C#' '.NET' 'R' 'RUBY']
Lower case array ['python' 'c' 'c#' '.net' 'r' 'ruby']
Capitalize array ['Python' 'C' 'C#' '.net' 'R' 'Ruby']
Title case array ['Python' 'C' 'C#' '.Net' 'R' 'Ruby']
swap case array ['PYTHON' 'C' 'C#' '.NET' 'r' 'rUBY']

####**Write a program to transform elements of a given string to a numeric string of 10 digits by making all the elements of a given string to a zeros on the left side to match the number of digit in each elements.**

In [ ]:
arr=np.array([1,2,333,44444,23,89999999],dtype=str)
print(f'final array is \n {np.char.zfill(arr,10)}')

final array is
 ['0000000001' '0000000002' '0000000333' '0000044444' '0000000023'
 '0089999999']

####**Write a program for inserting space between characters of all elements in a NumPy array.**

In [ ]:
arr=np.array(['python','c','c#','.net','R','Ruby'])
np.char.join(" ",arr)

array(['p y t h o n', 'c', 'c #', '. n e t', 'R', 'R u b y'], dtype='<U11')

####**Write a program to repeat each of the elements two times for a given array**

In [ ]:
arr=np.array(['python','c','c#','.net','R','Ruby'])
np.char.multiply(arr,2)

array(['pythonpython', 'cc', 'c#c#', '.net.net', 'RR', 'RubyRuby'],
      dtype='<U12')

####**Write a program for interchanging two axes of the NumPy array.**

In [ ]:
import numpy as np
arr = np.array([[1,2,3]])
print("Original array: ")
print(arr)

#Swap axes
axis_swapped_arr =  np.swapaxes(arr,0,1)
print("Transformed array: ")
print(axis_swapped_arr)

Original array:
[[1 2 3]]
Transformed array:
[[1]
 [2]
 [3]]

####**print 3 zeros and zero with 2 rows and 3 columns**

In [6]:
import numpy as np
print(np.zeros(3))
print(np.zeros((2,3)))

array([[0., 0., 0.],
       [0., 0., 0.]])

####**use of eye()diagonal values ?**

In [10]:
#eye() function in Python is used to return a two-dimensional array with ones (1) on the diagonal and zeros (0) elsewhere.
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

####**use of diag() square matrix**

In [12]:
np.diag([1,2,3])

array([[1, 0, 0],
       [0, 2, 0],
       [0, 0, 3]])

####Compute the min/max for each row for a NumPy 2D array

In [2]:
import numpy as np
arr=np.arange(1,10).reshape(3,3)
print(arr)
np.apply_along_axis(lambda x:np.min(x)/np.max(x),arr=arr,axis=1)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

array([0.33333333, 0.66666667, 0.77777778])

In [5]:
#Compute the min for each row for a NumPy 2D array
np.apply_along_axis(lambda x:np.min(x),arr=arr,axis=1) #np.min(arr,axis=1)

array([1, 4, 7])

In [4]:
#Compute the min for each row for a NumPy 2D array
np.apply_along_axis(lambda x:np.max(x),arr=arr,axis=1) #np.max(arr,axis=1)

array([3, 6, 9])

In [11]:
#Compute the max for each column for a NumPy 2D array
np.apply_along_axis(lambda x:np.max(x),arr=arr,axis=0) #np.max(arr,axis=0)

array([7, 8, 9])

In [12]:
#Compute the min for each column for a NumPy 2D array
np.apply_along_axis(lambda x:np.min(x),arr=arr,axis=0) #np.min(arr,axis=0)

array([1, 2, 3])

#### How to find all occurrences of an Element in a list

In [20]:
import numpy as np
arr=np.array([1,2,2,2,4,4,5,6,5,7])
search_val=5
res=np.where(arr==search_val)[0]
print(f'value present {len(res)} time and at the index of {res[0]} and {res[1]}')

value present 2 time and at the index of 6 and 8

####What is the difference between test[:,0] vs test[:,[0]]? When would you use one?

In [30]:
a=np.array([[1,2,3,4],[3,4,5,6]])
print(a)
a[:,0] #gives you a row vector.

[[1 2 3 4]
 [3 4 5 6]]

array([1, 3])

In [31]:
#gives you a column vector:
a[:,[0]]

array([[1],
       [3]])

####What is the purpose of meshgrid in Python/NumPy?
The purpose of meshgrid is to create a rectangular grid out of an array of x values and an array of y values:
    
    Syntax:
          xx,yy=np.meshgrid(x,y)

####Given a 4x4 Numpy matrix, how to reverse the matrix?

In [33]:
import numpy as np
matrix = np.arange(1,17).reshape(4,4)
print(matrix)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

In [34]:
np.flip(matrix)

array([[16, 15, 14, 13],
       [12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

In [39]:
#Method-2
mat_flat=matrix.flatten()    #to flatten the numpy array
rev_mat_flat=mat_flat[::-1]  #read the elements backward into a new matrix
rev_mat_flat.reshape(4,4)    #reshape the matrix back into a 4*4 matrix

array([[16, 15, 14, 13],
       [12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])