###Inheritence


1.   Single Inheritence
2.   Mulitple Inheritence
3.   Multilevel Inheritence
4.   Hybrid Inheritence
5.   Hierarchy Inheritence
6.   Cyclic Inheritence

#### 1. Single Inheritence

In [ ]:
class Employee:
  def __init__(self,name,id):
    self.name=name
    self.id=id
  
  def showDetails(self):
    print(f"The name of employee is {self.name} and id is {self.id}");

In [ ]:
e=Employee('nitesh',213)
e.showDetails();

The name of employee is nitesh and id is 213

In [ ]:
e=Employee('Sarvesh',124)
e.showDetails()

The name of employee is Sarvesh and id is 124

In [ ]:
class Programmer(Employee):
  def showLanguage(self):
    print('Default language is Python');

In [ ]:
p=Programmer('Sam',100)

In [ ]:
p.showDetails()
p.showLanguage()

The name of employee is Sam and id is 100
Default language is Python