In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp

In [ ]:
ages=[12,34,45,65,23,34,11,23,25,26,28,78,90,45,56,67,76,54,32,82,84,79,87,90]

In [ ]:
pop_mean=np.mean(ages)

In [ ]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)
print(np.mean(age_sample))

52.1

In [ ]:
t_test,p_value=ttest_1samp(age_sample,pop_mean)

In [ ]:
p_value

0.9843324023193873

In [ ]:
if p_value<0.05:
  print('We are reject the null hypothesis')
else:
  print('We are fail to reject the null hypothesis')

We are fail to reject the null hypothesis

In [ ]:
import scipy.stats  as stats

In [ ]:
np.random.seed(6)
school_age=stats.poisson.rvs(loc=18,mu=35,size=1500)
class_age=stats.poisson.rvs(loc=18,mu=30,size=60)

In [ ]:
print(np.mean(school_age))
print(np.mean(class_age))

53.303333333333335
46.9

In [ ]:
n=5
for i in range(0,n):
    for j in range(i):
        print(j,end='')
    print()

0
01
012
0123

In [ ]:
rows = 5
for i in range(0, rows + 1, 1):
    for j in range(i + 1, rows + 1, 1):
        print(j, end=' ')
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [ ]:
row=5
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        if j==1 or j==2*i-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

 *     *
  *   *
   * *
    *

In [1]:
num = 9

for i in range(1, num+1):
  if i > 0:
    i = +i
  print(" " * i + "*" * (num - i*2) + " "*i)

###Method 2

num = 9

for i in range(1, num+1):
  print(" " * i + "*" * (num - i*2) + " "*i)

 *******
  *****
   ***
    *

In [ ]:
n=5
for i in range(0,n):
    for j in range(i):
        print(j,end='')
    print()

0
01
012
0123

In [4]:
n=6
for r in range(0,2 * n - 1,1): 
  if (r < n - 1):
    for i in range(0,r+1,1):
      print("$",end = " ")  
    for i in range(0,2 * (n - r - 1)-2+1,1): 
      print(" ",end = " ") 
    for i in range(0,r+1,1): 
      print("$", end = " ") 
    print()

$                   $
$ $               $ $
$ $ $           $ $ $
$ $ $ $       $ $ $ $
$ $ $ $ $   $ $ $ $ $

In [5]:
n=5
for i in range (0,n):
  for j in range(0,int(n/2)):
    for k in range(i):
      print(j,end=' ')
  
  for j in range(n,int(n/2)):
    for k in range(i):
          print(j,end=' ')
          n=n-1
  print()

0 1
0 0 1 1
0 0 0 1 1 1
0 0 0 0 1 1 1 1

In [6]:
n=3
for i in range (0,n):
  for j in range(0,int(n*2/2)):
    for k in range(i):
      print(j,end=' ')
  
  for j in range(n,int(n*2/2)):
    for k in range(i):
          print(j,end=' ')
          n=n-1
  print()

0 1 2
0 0 1 1 2 2

In [8]:
n=5
for i in range(n):
  print(' '*i+chr(65+i)+' ',end='')
  if i!=n-1:
    print(' '*(2*n-2*i-3)+chr(65+i),end='')
  print()

A        A
 B      B
  C    C
   D  D
    E

In [ ]:
n=10
for i in range(n):
  print('*'*i,end='')
  if i!=n-1:
    print(' '*(2*n-2*i-2)+'*' *i,end='')
  else:
    print('*'*i)
  print()

*                *
**              **
***            ***
****          ****
*****        *****
******      ******
*******    *******
********  ********
******************

In [ ]:
for i in range(n):
  print('* '*i+' ',end='')
  if i!=n-1:
    print('  '*(2*n-2*i-3),end='')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [ ]:
n=int(input('Enter the number of rows:'))

for i in range(n,0,-1):
  for j in range(i):
    print(j,end='')
  print()

Enter the number of rows:5
01234
0123
012
01
0

In [ ]:
n=int(input('Enter the number of rows:'))

for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the number of rows:4
4 3 2 1 4 3 2 1
3 2 1     3 2 1
2 1         2 1
1             1

In [ ]:
n=int(input('Enter the number of rows:'))

for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end=" ")
  for j in range(2*(n-i)):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

for i in range(n):
  for j in range(i+1):
    print(j,end=" ")
  for j in range(2*(n-i-1)):
    print(" ",end=" ")
  for j in range(i+1):
    print(j,end=" ")
  print()

Enter the number of rows:5
5 4 3 2 1 5 4 3 2 1
4 3 2 1     4 3 2 1
3 2 1         3 2 1
2 1             2 1
1                 1
0                 0
0 1             0 1
0 1 2         0 1 2
0 1 2 3     0 1 2 3
0 1 2 3 4 0 1 2 3 4

In [ ]:
n=int(input('Enter the no of rows:'))
for i in range(1,n):
  for j in range(i):
    print(j+1,end=" ")
  for j in range(2*(n-i-1)):
    print(" ",end=" ")
  for j in range(i,0,-1):
    print(j,end=" ")
  print()

Enter the no of rows:5
1             1
1 2         2 1
1 2 3     3 2 1
1 2 3 4 4 3 2 1

In [ ]:
def  contalpha(n):
    num = 65
    for i in range(0, n): 
        for j in range(0, i+1): 
            ch = chr(num)   
            print(ch, end=" ") 
            num = num +1
        print("\r") 
  
# Driver code 
n = 5
contalpha(n)

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()


1
121
12321
1234321