In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm

In [ ]:
pd.options.display.max_columns=20
pd.options.display.max_rows=20
pd.options.display.max_colwidth=80
np.set_printoptions(precision=4,suppress=True)

In [ ]:
for i in range(7):
  print(np.random.standard_normal())

1.793580034043045
-0.4921089486267524
-0.2211857520855939
-0.22037323818488616
0.8579260895540891
0.22624571555399853
-0.11687295419510949

In [ ]:
#List Comprehension
data=[np.random.standard_normal() for i in range(7)]
print(data)

[-2.24315851087762, -0.45768777866778215, -2.9610212639830844, 1.1965059242626186, -0.12908960523561663, -0.6303120286122379, -0.4808989551079026]

In [ ]:
an_apple=12
an_mango=30

In [ ]:
b=[1,2,3]

####  This is referred to as object introspection.
Using a question mark (?) before or after a variable will display some general information about the object:

In [ ]:
b?

In [ ]:
def sum(a,b):
  "return sum of 2 number"
  return a+b

using ? shows us the docstring:

In [ ]:
sum?
print(sum.__doc__)

return sum of 2 number

#### A number of characters combined with the wildcard (*) will show all names matching the wildcard expression.

In [ ]:
np.*load*?

o/p-
np.__loader__
np.load
np.loadtxt

#### Assignment is also referred to as binding, as we are binding a name to an object. Variable names that have been assigned may occasionally be referred to as bound variables

In [ ]:
a='nitesh'

#### Attributes and methods can also be accessed by name via the getattr function:

In [ ]:
getattr(a,'split')

In [ ]:
#To check if two variables refer to the same object, use the is keyword. Use is not to
#check that two objects are not the same:

a=[1,2,3]
b=a
c=list(a)

In [ ]:
a is b

True

In [ ]:
a is c

False

In [ ]:
# Comparing with is is not the same as the == operator
a==c

True

In [ ]:
#A common use of is and is not is to check if a variable is None, since there is only one instance of None:
a=None
a is None

True

In [ ]:
#The primary Python types for numbers are int and float. An int can store arbitrarily large numbers:
val=12345
val**45

13094811226427701098032226848170118913275798988218088943760507394821471757763133456661996612699586253400201140280721065740690646142413399669123817828339866764508769847452640533447265625

In [ ]:
#Floating-point numbers are represented with the Python float type.
s=5.568
n=5.8e-2 #They can also be expressed with scientific notation

In [ ]:
print(n)

0.058

In [ ]:
#Integer division not resulting in a whole number will always yield a floating-point number:

a=3
b=2
print(a/b)

1.5

In [ ]:
a=3
b=6.0
print(b/a)

2.0

In [ ]:
#To get C-style integer division (which drops the fractional part if the result is not a whole number), use the floor division operator //:

3//2

1

In [ ]:
#Many people use Python for its built-in string handling capabilities. You can write
#string literals using either single quotes ' or double quotes "
s="hello"
n='hi'
p='''good'''

print(s)
print(n)
print(p)

hello
hi
good

In [ ]:
#Python strings are immutable; you cannot modify a string
s[0]='k'

TypeError: ignored

In [ ]:
s='python'
print(list(s))

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
#string format
template="{0:.2f} and {1:s} and {2:d}"
template.format(12.6789,'nitesh',333)

'12.68 and nitesh and 333'

In [ ]:
#Python 3.6 introduced a new feature called f-strings
amount=12
rate=4.57777
currency ='dollar'
print(f"{amount} and {rate:.2f} and{currency}")

12 and 4.58 anddollar

In [ ]:
#None is also a common default value for function arguments:
def add_and_multiply(a,b,c=None):
  res=a+b
  if c is not None:
    res=res*c
  return res

In [ ]:
print(add_and_multiply(1,2,4))  #Multiplication 
print(add_and_multiply(4,5))    #Addition

12
9

In [ ]:
import datetime 
dt=datetime.datetime(2011, 10, 29, 20, 30, 21)
print(dt.day) #day fetch
#print(dt.date)
print(dt.month)  #month fetch
print(dt.year)   #year fetch
print(dt.second) #second fetch
print(dt.hour)   #hours fetch
print(dt.minute) #minute fetch

29
10
2011
21
20
30

In [ ]:
print(dt.date())
print(dt.time())

2011-10-29
20:30:21

In [ ]:
#The strftime method formats a datetime as a string:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

strptime is short for "parse time" where strftime is for "formatting time".

In [ ]:
datetime.datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

#### **Control Flow**
* if, elif, and else
* for loops
* while loops
* pass
* range

In [ ]:
#If else statement 
#The if statement is one of the most well-known control flow statement types. It
#checks a condition that, if True, evaluates the code in the block that follows:

inp=int(input('Enter the value:'))
if inp>0:
  print('Greater then zero')
elif inp<0:
  print('Less then Zero')
else:
  print('equals to zero')

Enter the value:-5
Less then Zero

In [ ]:
#For loop  are for iterating over a collection (like a list or tuple) or an iterator
l=[1,3,4,5,6]
sum=0
for i in l:
  sum=sum+i
print(sum)

19

In [ ]:
#A while loop specifies a condition and a block of code that is to be executed until the
#condition evaluates to False or the loop is explicitly ended with break

val=5
while val>0: 
  print(val)
  val=val-1

5
4
3
2
1

In [ ]:
#pass is the “no-op” (or “do nothing”) statement in Python.
x=int(input('Enter the number:'))
if x>0:
  print('Positive')
elif x<0:
  print('Negative')
else:
  pass

Enter the number:0

In [ ]:
#range
#The range function generates a sequence of evenly spaced integers:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### **Data Structure**
Python’s data structures are simple but powerful.

* Tuple
* List
* Dictionary
* Set

In [ ]:
#A tuple is a fixed-length, immutable sequence of Python objects which, once assigned,cannot be changed.
tup=(1,2,3)
print(tup)

(1, 2, 3)

In [ ]:
tup=1,2,3

In [ ]:
tup=tuple('nitesh')
print(tup)

('n', 'i', 't', 'e', 's', 'h')

In [ ]:
#slicing
tup[0]

'n'

In [ ]:
nested_tuple=(1,2,3),(4,5)
print(nested_tuple)

((1, 2, 3), (4, 5))

In [ ]:
#print(nested_tuple[0])
#print(nested_tuple[1])

for i in nested_tuple:
  print(i)

(1, 2, 3)
(4, 5)

In [ ]:
tup=([1,2],4,6)

In [ ]:
tup[0]=45 #not able to modify the tuple object

TypeError: ignored

In [ ]:
#tuple concatenation
tup1=(1,2,3)
tup2=(4,5,6)
tup=tup1+tup2
print(tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
#packing and unpacking tuple
pack_tup=1,2,3
print(pack_tup)

(1, 2, 3)

In [ ]:
x,y,z=pack_tup #unpacking tuple
print(x,y,z)

1 2 3

In [ ]:
val=1,2,3,4,5
a,b,*rest=val
print(a,b)
print(rest)

1 2
[3, 4, 5]

In [ ]:
val=1,2,3,4,5
a,b,*_=val

In [ ]:
print(a,b,_)

1 2 [3, 4, 5]

In [ ]:
tup=(1,)
print(type(tup))

<class 'tuple'>

In [ ]:
#Tuple Method
t=(1,4,6,8,9,1)

In [ ]:
t.count(1)

2

In [ ]:
t.index(4)

1

In [ ]:
len(t)

6

#### **List**
Lists are mutable. You can define them using square brackets [] or using the list type function

In [ ]:
l=[1,2,3,4,None]
l[1]=5
print(l)

[1, 5, 3, 4, None]

#List Method
* append
* clear
* copy
* count
* extend
* index
* insert
* pop
* remove
* reverse
* sort

In [ ]:
#Append
l=[1,2,3,4,None]
l.append(9)
print(l)

[1, 2, 3, 4, None, 9]

In [ ]:
#Clear
l.clear()
print(l)

[]

In [ ]:
#Copy
l=[1,4,6,8]
m=l.copy()
print(m)

[1, 4, 6, 8]

In [ ]:
l=[1,2,3,4,4,4]
l.count(4)

In [ ]:
#index
l.index(2)

1

In [ ]:
#Insert (Takes 2 argument(1.index position 2.value))
print('List Before Insert',l)
l.insert(1,0)
print('List after insert',l)

List Before Insert [1, 2, 3, 4, 4, 4]
List after insert [1, 0, 2, 3, 4, 4, 4]

In [ ]:
l.extend('nit')
l.extend([0,1,2,3])
print(l)

[1, 0, 2, 3, 4, 4, 4, 'n', 'i', 't', 0, 1, 2, 3]

In [ ]:
l.extend(0) #not allow to insert the scaler value

TypeError: ignored

In [ ]:
l=[9,7,1,2,3,0]
print(f'Before sorting list are {l}')
l.sort()
print(f'after sorting list are {l}')

Before sorting list are [9, 7, 1, 2, 3, 0]
after sorting list are [0, 1, 2, 3, 7, 9]

In [ ]:
#delete based on index position
del l[0]
print(l)

[1, 2, 3, 7, 9]

In [ ]:
#remove is used to remove based on element value
l.remove(9)

In [ ]:
#pop is used to to remove the element using index position or if index is not mention then remove last element
print(l)
l.pop()
print('after pop',l)

[1, 2, 3, 7]
after pop [1, 2, 3]

In [ ]:
print('befor pop',l)
l.pop(2)
print('After pop',l)

befor pop [1, 2, 3]
After pop [1, 2]

In [ ]:
#reverse function is used to reverse the list.
l.reverse()

In [ ]:
print(l)

[2, 1]

#### Slicing
You can select sections of most sequence types by using slice notation, which in its
basic form consists of start:stop passed to the indexing operator []:

In [ ]:
s=[1,2,3,4]
print(s)

[1, 2, 3, 4]

In [ ]:
s[1:3]

[2, 3]

In [ ]:
#Slices can also be assigned with a sequence:
s[1:3]=[4,5]
print(s)

[1, 4, 5, 4]

In [ ]:
s[1:4:2] #steps of 2

[4, 4]

In [ ]:
#Negative index
s[-4:]

[1, 4, 5, 4]

In [ ]:
s[-4:-2]

[1, 4]

#### Dictionary
1. The dictionary or dict may be the most important built-in Python data structure.
2. A dictionary stores a collection of key-value pairs, where key and
value are Python objects. 
3. Each key is associated with a value so that a value can be conveniently retrieved, inserted, modified, or deleted given a particular key.
4. creating a dictionary is to use curly braces {} and colons to separate
keys and values
5. Dictionary in Python is an unordered collection of data values that are used to store data values like a map.

In [ ]:
d={}
print(d)

{}

In [ ]:
d={"name":"Nitesh","Age":28,"Gender":"Male"}

In [ ]:
print(d)

{'name': 'Nitesh', 'Age': 28, 'Gender': 'Male'}

In [ ]:
for key,value in d.items(): #accessing the dictionary key and value using items keyword
  print(key,value)

name Nitesh
Age 28
Gender Male

In [ ]:
#dictionary key is access using keys keyword
d.keys()

dict_keys(['name', 'Age', 'Gender'])

In [ ]:
#dictionary value can be access using values keyword
d.values()

dict_values(['Nitesh', 28, 'Male'])

In [ ]:
#element of dictionary is access by key
d['name']

'Nitesh'

In [ ]:
#if key is not present in dictionary then it create new key with given value
d['Country']='India'
print(d)

{'name': 'Nitesh', 'Age': 28, 'Gender': 'Male', 'Country': 'India'}

In [ ]:
#we can modify the keys value using below code
d['name']='Nit'

In [ ]:
print(d)

{'name': 'Nit', 'Age': 28, 'Gender': 'Male', 'Country': 'India'}

In [ ]:
#We can also check if keys is present in dictionary or not
'name' in d

True

In [ ]:
#You can merge one dictionary into another using the update method.
#The update method changes dictionaries in place, so any existing keys in the data passed to update will have their old values discarded
d.update({'a':1,'b':2})

In [ ]:
print(d)

{'name': 'Nit', 'Age': 28, 'Gender': 'Male', 'Country': 'India', 'a': 1, 'b': 2}

In [ ]:
d

{'name': 'Nit',
 'Age': 28,
 'Gender': 'Male',
 'Country': 'India',
 'a': 1,
 'b': 2}

In [ ]:
#get by default will return None if the key is not present but if we specify the default value then it return the specified value.
print(d.get('name','Sorry mention key not present'))
print(d.get('dept','Sorry mention key not present'))

Nit
Sorry mention key not present

In [ ]:
#The built-in collections module has a useful class, defaultdict
#Sometimes, when the KeyError is raised, it might become a problem. 
#To overcome this Python introduces another dictionary like container known as Defaultdict which is present inside the collections module.
from collections import defaultdict

my_dict = defaultdict()
my_dict[1]=[1,2]
my_dict[2]=[7,8]
print(my_dict)

defaultdict(None, {1: [1, 2], 2: [7, 8]})

In [ ]:
print(my_dict.get(2))
print(my_dict.get(3)) #if value not present then return None instead of any error.

[7, 8]
None

#### **Set**
Set is similar to list except below point.

1. collection of items.
2. represent as curley braces({})
3. duplicate not allowed.
4. indexing ,slicing not allowed.
5. Used as key in dictionary.
6. Add,remove allowed but append not allowed. 

A set can be created in two ways:via the set function or via a set literal with curly braces.

In [ ]:
set((1,2,3,4,5,3,4))

{1, 2, 3, 4, 5}

In [ ]:
a={1,2,3,4}
print(type(a),a)

<class 'set'> {1, 2, 3, 4}

Sets support mathematical set operations like union, intersection, difference, and symmetric difference. Consider these example  of sets:

In [ ]:
s1={1,2,3,4}
s2={4,5,6,7}

In [ ]:
#adding two set  element(without duplicates)
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
#fetch only common value present in both the set
s1.intersection(s2)

{4}

In [ ]:
#it is like minus function.The elements in s1 that are not in s2
s1.difference(s2)

{1, 2, 3}

In [ ]:
#Set the contents of s1 to be the intersection of the elements in s1 and s2
s1.intersection_update(s2)

In [ ]:
print(s1)
print(s2)

{4}
{4, 5, 6, 7}

In [ ]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}

In [ ]:
#Set a to the elements in a that are not in b
s1.difference_update(s2)

In [ ]:
print(s1)
print(s2)

{1, 2}
{3, 4, 5, 6, 7}

In [ ]:
#Add element 3 to set s1 
s1.add(3)
print(s1)

{1, 2, 3}

In [ ]:
#Reset set a to an empty state, discarding all of its elements
s1.clear()
print(s1)

set()

In [ ]:
s1={1,2,3,4,5}

In [ ]:
#Remove element 5 from set s1
s1.remove(5)
print(s1)

{1, 2, 3, 4}

In [ ]:
s1.pop()
print(s1)

{2, 3, 4}

In [ ]:
s1.symmetric_difference(s2) #except the common elements

{2, 5, 6, 7}

In [ ]:
s1.issubset(s2) #True if the elements of s1 are all contained in s2

False

In [ ]:
s1.issuperset(s2) #True if the elements of s2 are all contained in s1

False

#### **Built-In Sequence Functions**
* enumerate.
* sorted
* zip
* reversed

In [ ]:
#It’s common when iterating over a sequence to want to keep track of the index of the current item.
fruits=['Apple','Mango','Banana']
for i,j in enumerate(fruits): #i represent index position,j represent actual value.
  print(i,j)

0 Apple
1 Mango
2 Banana

In [ ]:
#The sorted function returns a new sorted list from the elements of any sequence:
l=[1,3,6,8,0,2]
print(sorted(l))
print(sorted('nitesh'))

[0, 1, 2, 3, 6, 8]
['e', 'h', 'i', 'n', 's', 't']

In [ ]:
#zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:
tup1=('x','y','z')
tup2=(1,2,3)

for i in zip(tup1,tup2):
  print(i)

('x', 1)
('y', 2)
('z', 3)

In [ ]:
for a,b in enumerate(zip(tup1,tup2)):
  print(a,b)

0 ('x', 1)
1 ('y', 2)
2 ('z', 3)

In [ ]:
#reversed iterates over the elements of a sequence in reverse order
l=[4,6,7,8,1,2]
print('type of reversed function is',type(reversed(l)))
print(list(reversed(l))) #it does not create sequence of value till we not use any iterable function like list,for loop etc.

type of reversed function is <class 'list_reverseiterator'>
[2, 1, 8, 7, 6, 4]

#### **Different Comprehnsions technique**
* List Comprehension
* Set Comprehension
* Dictionary Comprehension

In [ ]:
#List comprehension
#[expr for value in collection if condition]

s=['nitesh','pandey','python']
[x.upper() for x in s]

['NITESH', 'PANDEY', 'PYTHON']

In [ ]:
#A dictionary comprehension looks like this:
#dict_comp = {key-expr: value-expr for value in collection if condition}
d={ind:val for ind,val in enumerate(s)}
print(d)

{0: 'n', 1: 'bb', 2: 'ccc'}

In [ ]:
#Set_comp = {expr for value in collection if condition}
s=["n","bb","ccc"]
s1={len(x) for x in s}
print(s1)

{1, 2, 3}

#### **Function**
* Function is a block of code which is executed only when it is called.
* To define a function in python a def keyword is used
* Function does not deal with class and instance comcept.
* Functions are the primary and most important method of code organization and reuse in Python.

In [ ]:
#Function with return statement
def myFunction(x,y):
  return x*y

#call to function
myFunction(5,6)

30

In [ ]:
#function without return
def myFunction(a,b):
  print(a+b)

myFunction(2,5)

7

#### Scope of variable
* Global
* Local

In [ ]:
#variable which is declared outside the function or in global space is called global variables

a=6 #Global Variable
def scope_variable():
  b=5 #Local Variable
  print(f"value of variable b is {b}")
  print(f"value of variable a is {a}")

In [ ]:
scope_variable()

value of variable b is 5
value of variable a is 6

In [ ]:
a=6 
def scope_variable():
  global a #global variable can be declare using global keyword also
  a=5 #update the global variable value from 6 to 5
  print(f"value of variable a is {a}")

In [ ]:
scope_variable()

value of variable a is 5

In [ ]:
# Return multiple value from function
def returnExample(a,b,c):
  a=a+10
  b=b+10
  c=c+10
  return a,b,c

#returnExample(10,20,30) #20,30,40
x,y,z=returnExample(20,30,40)
print(x,y,z)

30 40 50

#### **Anonymous (Lambda) Functions**
* an Anonymous function is known as Lambda function
* It is also called as no name or nameless or without name function
* It is used as inline function.
* This function can have any number of  parameter but can have just one statement
* Lambda is a keyword that return a function object and does not create a name in the local namespace

In [ ]:
def square_func(x):
  return x**2

square_func(2)

4

In [ ]:
#equivalent to above function
square_num=lambda x:x**2

In [ ]:
square_num(2)

4

**Generator**
1. Python Generator are simple way of creating iterators.
2. It is used to generate the sequence of number.
3. A generator in python makes use of the yield keyword.
4. if we define a function with yield statement then it treated as generator function.
5. A generator may have any number of ‘yield’ statements.
6. A generator does not need a class in python.
7. To write a python generator, you can either use a Python function or a comprehension.
8. Generator in python let us write fast and compact code.
9. A generator returns a generator object

**Application**

1. To Implement countdown.
2. To Generate first n number.
3. To generate fibonacci Series.

**Advantages**
1. best suitable for web scappring
2. performance will be improved
3. memory utilization is improved when compared with normal iterators
generators are easy to use

Normal functions execute and return a single result at a time, generators can return a sequence of multiple values by pausing and resuming execution each time the generator is used. To create a generator, use the **yield** keyword instead of return in a function:

In [ ]:
def countdown(num):
  n=1
  while n<=num:
    yield n
    n=n+1

In [ ]:
count=countdown(5)
print(count)

<generator object countdown at 0x7f7db79f45f0>

In [ ]:
for i in countdown(5):
    print(i)

<class 'function'>
1
2
3
4
5

#### **itertools module**
The standard library itertools module has a collection of generators for many common data algorithms.
* combinations
* groupby
* permutations
* product

In [ ]:
import itertools
def first_letter(x):
  return x[0]

In [ ]:
name=["Nitesh","Nit","Sam","Steve","Wick","Zoo"]
for letter,names in itertools.groupby(name,first_letter):
  print(letter,list(names))

N ['Nitesh', 'Nit']
S ['Sam', 'Steve']
W ['Wick']
Z ['Zoo']

#### **Exception Handling**
Error in Python can be of two types i.e. Syntax errors and Exceptions. 

**Errors** are problems in a program due to which the program will stop the execution. On the other hand, **exceptions** are raised when some internal events occur which change the normal flow of the program.

In Python, there are several built-in exceptions that can be raised when an error occurs during the execution of a program. Here are some of the most common types of exceptions in Python:

**SyntaxError:** This exception is raised when the interpreter encounters a syntax error in the code, such as a misspelled keyword, a missing colon, or an unbalanced parenthesis.

**TypeError:** This exception is raised when an operation or function is applied to an object of the wrong type, such as adding a string to an integer.

**NameError:** This exception is raised when a variable or function name is not found in the current scope.

**IndexError:** This exception is raised when an index is out of range for a list, tuple, or other sequence types.

**KeyError:** This exception is raised when a key is not found in a dictionary.

**ValueError:** This exception is raised when a function or method is called with an invalid argument or input, such as trying to convert a string to an integer when the string does not represent a valid integer.

**AttributeError:** This exception is raised when an attribute or method is not found on an object, such as trying to access a non-existent attribute of a class instance.

**IOError:** This exception is raised when an I/O operation, such as reading or writing a file, fails due to an input/output error.

**ZeroDivisionError:** This exception is raised when an attempt is made to divide a number by zero.

**ImportError:** This exception is raised when an import statement fails to find or load a module.

Try,raise and finally keywords is used with exception handling.
we put risky code under a try block

In [ ]:
#Exceptions are raised when the program is syntactically correct, but the code results in an error. 

def mark_cal(marks):
  return marks/0

mark_cal(100)

ZeroDivisionError: ignored

In [ ]:
a=10
b='Nitesh'
print(a+b)

TypeError: ignored

In [ ]:
#try catch block is used to resolve the above problem
def mark_cal(a,b):
  try:
    return a/b
  except:
    return 'please enter valid value of b'

In [ ]:
mark_cal(10,0)

'please enter valid value of b'

In [ ]:
def mark_cal(a,b):
  try:
    if a>b:
      return a/b
    else:
      return a+b

  except ZeroDivisionError:
    return 'ZeroDivisionError Occurred and Handled'
  except TypeError:
    return 'NameError Occurred and Handled'
  except Exception as e:
    return f'error occurred due to {str(e)}'

In [ ]:
mark_cal(10,0)

'ZeroDivisionError Occurred and Handled'

In [ ]:
mark_cal(10,'Nitesh')

'NameError Occurred and Handled'

Python provides a keyword **finally,** which is always executed after the try and except blocks.

In [ ]:
def exceptDemo(a,b):
  try:
    print(a/b)
  except Exception as e:
     print('Error Occurred due to',str(e))
  finally:
    print('Finally Executed')

In [ ]:
exceptDemo(10,4)

2.5
Finally Executed

#### Raising Exception
The raise statement allows the programmer to force a specific exception to occur.

In [ ]:
def Raise_Exception():    
    try:
        raise NameError("Hi there")  # Raise Error
    except NameError:
        print ("An exception caught which is raised by user")

In [ ]:
Raise_Exception()

An exception caught which is raised by user

#### Files and the Operating System

**Types of data used for I/O :**
* Text
* Binary

**Type of file deal with**
* Binary File --images,video,audio etc.
* Text File --all program file.

**Steps need to follow for any file operation**
* Open File
* Read/Write on file
* Close File

To open a file for reading or writing, use the built-in open function with either a relative or absolute file path and an optional file encoding:

In [1]:
f=open('temp.txt','w')
f.write('Hello')
f.close()

In [2]:
f=open('temp.txt','r')
print(f.read())
f.close()

Hello

**r-**  Read-only mode.  

**w**  Write-only mode; creates a new file (erasing the data for any file with the same name)

**x** Write-only mode; creates a new file but fails if the file path already exists

**a** Append to existing file (creates the file if it does not already exist)

**r+** Read and write.

**b** Add to mode for binary files (i.e., "rb" or "wb")

**t** Text mode for files (automatically decoding bytes to Unicode); this is the default if not specified

In [4]:
#For readable files, some of the most commonly used methods are read, seek, and
#tell. read returns a certain number of characters from the file. 

f=open('temp.txt','w')
f.write('New Line Added ')
f.close()

In [6]:
f=open('temp.txt','r')
print(f.read(5))
f.close()

New L

In [8]:
f=open('temp.txt','r')
print(f.tell())  #tell gives you the current position
f.close()

0

In [9]:
f=open('temp.txt','r') # open the file in read mode
print(f.seek(5)) # seek changes the file position to the indicated byte in the file
print(f.tell())  # tell gives you the current position
print(f.read())  # reading file
f.close()        # close the file

5
5
ine Added

In [11]:
#when we use with keyword we dont need to close the file manually it close automatically when we done our work

with open('first_demo.txt','w') as f:
  f.write('Hello New File is Created')

In [13]:
with open('first_demo.txt','r') as f:
  print(f.read())

Hello New File is Created

In [14]:
with open('first_demo.txt','a') as f:
  f.write(' new line added')

In [15]:
with open('first_demo.txt','r') as f:
  print(f.read())

Hello New File is Created new line added

**read([size])**   
Return data from file as bytes or string depending on the file mode, with optional size argument indicating the number of bytes or string characters to read.

**readable()**  
Return True if the file supports read operations.

**readlines([size])**   
Return list of lines in the file, with optional size argument.

**write(string)**  
Write passed string to file.

**writable()**  
Return True if the file supports write operations.

**writelines(strings)**  
Write passed sequence of strings to the file.

**close()**  
Close the file object.

**flush()** 
Flush the internal I/O buffer to disk.

**seek(pos)**  
Move to indicated file position (integer).

**seekable()**  
Return True if the file object supports seeking and thus random access (some file-like objects do not)

**tell()**  
Return current file position as integer

**closed** 
True if the file is closed.

**encoding** 
The encoding used to interpret bytes in the file as Unicode (typically UTF-8)

In [16]:
with open('first_demo.txt','r') as f:
  print(f.readline())

Hello New File is Created new line added