####print the summation of all the numbers from 1 to 100

In [ ]:
def func_sum_print():
  try:
    sum=0
    for i in range(1,101):
      sum=sum+i
  except Exception as e:
    print('Exception occurred due to',str(e))
  return sum

In [ ]:
func_sum_print()

5050

In [ ]:
#Method-2
def func_sum_print():
  try:
    return sum(range(1,101))
  except Exception as e:
    return 'Error Occurred Please try again'

In [ ]:
func_sum_print()

5050

In [ ]:
#Method-3 --inbuilt method
from functools import reduce
from operator import add
reduce(add,range(1,101))

5050

In [ ]:
#Method-4 --List Comprehension
total = 0
result=[total := total + x for x in range(1,101)]
print(result[-1])

5050

In [ ]:
#Method-4
res=sum((i for i in range(0,101))) #res=sum([i for i in range(0,101)])
print(res)

5050

In [ ]:
#Method-1

n=int(input('Enter no of element:'))
l=[]
for i in range(n):
  val=int(input('Enter element:'))
  l.append(val)

res=0
for i in l:
  res=res+i
print('Average value is ',res/n)

Enter no of element:4
Enter element:2
Enter element:4
Enter element:6
Enter element:9
[2, 4, 6, 9]
Average value is  5.25

In [ ]:
#Method-2 --using inbuilt method
import numpy as np
print(np.mean(l))

7.0

#### Reverse the number

In [ ]:
def rev_number(n):
  try:
    rev=0
    while n>0:
      digit=n%10
      rev=rev*10+digit
      n=n//10
    print('Reverse of given number is',rev)
  except Exception as e:
    print('Error Occurred',str(e))

In [ ]:
n=int(input('Enter the number which you want to reverse:'))
rev_number(n)

Enter the number which you want to reverse:345
Reverse of given number is 543

In [ ]:
#Method-2
def rev_number1(n):
  try:
    n=str(n)
    res=n[::-1]
    print(res)

  except Exception as e:
    print('Error Occurred',str(e))

In [ ]:
n=int(input('Enter the number which you want to reverse:'))
rev_number1(n)

654

####randomise the elements of a list

In [ ]:
import random
list_val=['Cracklogic','Technocutter','Filmformasti']
print("Actual list: ", list_val)
random.shuffle(list_val)
print("After Randomising the list: ", list_val)

Actual list:  ['Cracklogic', 'Technocutter', 'Filmformasti']
After Randomising the list:  ['Filmformasti', 'Technocutter', 'Cracklogic']

In [ ]:
#Method-2 --Shuffle Using index Position
n = random.sample(range(0,3),3)
list_val=['Cracklogic','Technocutter','Filmformasti']
res=[]
for i in n:
  res.append(list_val[i])
print(res)

['Filmformasti', 'Technocutter', 'Cracklogic']

#### Print the indices along with list of element.

In [ ]:
#Method-1
#Index position started from 20
number=[10,12,14,16,18,20]
for ind,val in enumerate(number,start=20):
  print(ind,val)

20 10
21 12
22 14
23 16
24 18
25 20

In [ ]:
#Method-2
#Index position started from 20
pos=20
for i in number:
  print(pos,i)
  pos=pos+1

20 10
21 12
22 14
23 16
24 18
25 20

In [ ]:
from collections import Counter
words="if there was there was but if"
sep_words=words.split()
count=Counter(sep_words)
count

Counter({'if': 2, 'there': 2, 'was': 2, 'but': 1})

In [ ]:
count.most_common(2)

[('if', 2), ('there', 2)]

####Multiplication using recursion

In [ ]:
#Method-1
def mul(a,b):
  if b==1:
    return a
  else:
    return a+mul(a,b-1)

In [ ]:
##Function call
mul(4,5)

In [ ]:
#Method-2
def mul_fun(a,b):
  return a*b

In [ ]:
##Function call
mul_fun(4,5)

20

In [ ]:
#Method-3
def mul_func(first,second):
  res=0
  for i in range(1,second):
    res=res+second
  return res

In [ ]:
mul_func(3,4)

12

####Factorial using recursion

In [ ]:
#Method-1
def fact_number(n):
  try:
    while n>=0:
      if n==0:
        return 1
      else:
        return n*fact_number(n-1)
    else:
      return "Please enter positive number"
  except:
    return "Error Occurred"

In [ ]:
fact_number(23)

25852016738884976640000

In [ ]:
#Method-2
import numpy as np
import scipy as sp
import math

def inbuild_fact_calculation(n):
  print(f'Calculation of factorial of {n} is {np.math.factorial(n)} using numpy math function')
  print(f'Calculation of factorial of {n} is {math.factorial(n)} using  math function')
  print(f'Calculation of factorial of {n} is {sp.special.factorial(n)} using numpy math function')

In [ ]:
inbuild_fact_calculation(5)

Calculation of factorial of 5 is 120 using numpy math function
Calculation of factorial of 5 is 120 using  math function
Calculation of factorial of 5 is 120.0 using numpy math function

In [ ]:
#Method-3

def fact_number(n):
  sum=1
  for i in range(1,n+1):
    sum=sum*i
  return sum

In [ ]:
fact_number(5)

120

####Palindrom using recursion

In [ ]:
def palindrom(string_val):
  if len(string_val)<1:
    print('Palindrom')
  else:
    if string_val[0]==string_val[-1]:
      palindrom(string_val[1:-1])
    else:
      print('Not Palindrom')

In [ ]:
palindrom('madam1')

Not Palindrom

In [ ]:
def find_palindrom(string):
  res=string[::-1]
  if res==string:
    return 'Palindrom'
  else:
    return 'Not Palindrom'

input_str=input('Enter the string:')
find_palindrom(str.lower(input_str))

In [ ]:
def find_palindrom(input_str):
  if input_str==str(input_str)[::-1]:
      print('Palindrom')
  else:
      print('Not Palindrom')

input_str=input('Enter the string:')
find_palindrom(str.lower(input_str))

Enter the string:Madam
Palindrom

In [ ]:
find_palindrom('maam3')

'Not Palindrom'

In [ ]:
def isPalindrom(inp_str):
  l=int(len(inp_str)/2)
  for i in range(0,l):
    if inp_str[i]!=inp_str[len(inp_str)-i-1]:
      return False
  return True

In [ ]:
inp_str=input('Enter the String:')
res=isPalindrom(inp_str)

if res:
  print('Palindrom')
else:
  print('Not Palindrom')

Enter the String:qw
Not Palindrom

In [ ]:
def isPalindrom1(inp_str):
  rev = ''.join(reversed(inp_str))
  if inp_str==rev:
    print('Palindrom')
  else:
    print('Not Palindrom')

In [ ]:
inp_str=input('Enter the String:')
isPalindrom1(inp_str)

Enter the String:madam
Palindrom

In [ ]:
### It is not suitable because if we increase the number of m then time will increses drastically
def fib(m):
  if m==0 or m==1:
    return 1
  else:
    return fib(m-1)+fib(m-2)

In [ ]:
fib(5)

In [ ]:
def memo(m,d):
  if m in d:
    return d[m]
  else:
    d[m]=memo(m-1,d)+memo(m-2,d)
    return d[m]

d={0:1,1:1}
print(memo(48,d))

####replace the space with a specific character.

In [ ]:
def replace_str(input_str,chr):
  return input_str.replace(' ',chr)

'loveyou'

In [ ]:
replace_str('nitesh andey','p')

'niteshpandey'

In [ ]:
def replace_str(input_str,chr):
  res=''
  for i in input_str:
    if i==' ':
      i=chr
    res+=i
  return res

In [ ]:
replace_str('l vey u','o')

'loveyou'

####Perfect square of any number

1.Finding the square root of the number and converting it into an integer.
2.Applying the square to the square root number and checking if it's a perfect square root.
3.Returning the result as a boolean.

In [ ]:
import numpy as np
def perfectsquare(a,b):
    count=0
    for i in range(a,b):
        for j in range(1,10):
            if np.sqrt(i)%j==0:
                print(int(np.sqrt(i)),end=' ')
                count+=1
                break
    print('\ncount between given range is:',count)

a,b=[int(input()) for _ in range(2)]
perfectsquare(a,b)

2
30
2 3 4 5
count between given range is: 4

In [ ]:
def perfectSquares(l, r):
    # For every element from the range
    for i in range(l, r + 1):
        # If current element is
        # a perfect square
        if (i**(.5) == int(i**(.5))):
            print(i, end=" ")

In [ ]:
a,b=[int(input()) for _ in range(2)]
perfectSquares(a,b)

1 4 9

In [ ]:
def perfectSquares(l, r):
    for i in range(l, r + 1):
        if (i**(.5) == int(i**(.5))): ###np.sqrt(i)==int(np.sqrt(i))
            print(i, end=" ")

a,b=[int(input()) for _ in range(2)]
perfectSquares(a,b)

1
10
1 4 9

In [ ]:
np.math.factorial(18)

6402373705728000

In [ ]:
###Program to calculate factorial of given number
def fact_number(n):
  if n==0:
    return 1
  else:
    return n* fact_number(n-1)

###Program to calculate the trailing zeros
def cal_trailing_zero(number):
  cnt=0
  for i in str(number)[::-1]:
    if i=='0':
      cnt=cnt+1
    else:
      break
  return cnt

In [ ]:
res=fact_number(18)
final_res=cal_trailing_zero(res)
print('No of trailing zeros are',final_res)

No of trailing zeros are 5

####find if the input string can be segmented into words using the dictionary or not.

In [ ]:
def seg_string(string_val,dictionary):
  for i in range(0,len(string_val)+1):
    first_substr=string_val[0:i]
    if first_substr in dictionary:
      second_substr=string_val[i:]
      if second_substr in dictionary:
        return True
  return False

In [ ]:
string_val=input('Enter input string:')
dictionary=['data','camp','lamp','engg']
seg_string(string_val,dictionary)

Enter input string:datacamp

True

####Find the missing number in the array

In [ ]:
def missing_val(lower_bound,upper_bound):
  for i in range(1,10):
    if i not in list_1:
      print(i)

In [ ]:
list_1 = [1,5,6,3,4,10]
lower_bound=min(list_1)
upper_bound=max(list_1)
missing_val(lower_bound,upper_bound)

2
7
8
9

 Find out the mean, median and standard deviation of this numpy array -> np.array([1,5,3,100,4,48])

In [ ]:
import numpy as np
inp=np.array([1,5,3,100,4,48])

In [ ]:
print(f'Mean of array is {np.mean(inp)}')
print(f'Median of array is {np.median(inp)}')
print(f'Standard Deviation of array is {np.std(inp)}')

Mean of array is 26.833333333333332
Median of array is 4.5
Standard Deviation of array is 36.59424666377065

How do you change a string to lowercase in Python?

In [ ]:
string='Nitesh Pandey'
print(str.lower(string))
print(string.lower())

nitesh pandey
nitesh pandey

What's the best way to get a list of all the keys in a dictionary?

In [ ]:
dict = {1:'Nitesh', 2:'Sarvesh', 3:'Pandey'}
dict.keys()

dict_keys([1, 2, 3])

How do you capitalize a string's first letter?

In [ ]:
string='pandey'
print(f'Using first method :{str.capitalize(string)}')
print(f'Using second method :{string.capitalize()}')

Using first method :Pandey
Using second method :Pandey

how do you insert an element at a specific index?

In [ ]:
list = [ 0,1, 2, 3, 4, 5, 6, 7 ]
list.insert(2,10)   #list_name.insert(index, element)
print(list)

[0, 1, 10, 2, 3, 4, 5, 6, 7]

how do you reverse a string?

In [ ]:
l=reversed(string)
for i in l:
  print(i,end='')

yednap

In [ ]:
string[::-1]

'yednap'

create tuple out of a list

In [ ]:
language = ['python','C#','C','R','Java']
final_output=tuple(language)
print(final_output)
print(type(final_output))

('python', 'C#', 'C', 'R', 'Java')
<class 'tuple'>

Using Python/ NumPy, write code to compute percentiles

In [ ]:
array = np.array([3, 6, 1, 6, 5, 2])
print(np.percentile(array,70)) #70th Percentiles

5.5

In [ ]:
bin_val=101
binary=False
for i in str(bin_val):
  if i in '10':
    binary=True
  else:
    binary=False

if binary:
  print('number is Binary')
else:
  print('number is not binary')

number is Binary

In [ ]:
num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 123
num is not binary

In [ ]:
#method-2  work better then the above code
num1 = 12
num2 = 14
for i in range(max(num1, num2), 1 + (num1 * num2)):
    if i % num1 == i % num2 == 0:
        lcm = i
        break
print("LCM of", num1, "and", num2, "is", lcm)

LCM of 12 and 14 is 84

Write a code snippet to reverse an array.

In [ ]:
#Using indexing
import numpy as np
arr1=np.array([1, 2, 3, 4])
res=arr1[::-1]
print(res)

[4 3 2 1]

In [ ]:
#Using flip method
res=np.flip(arr1)
print(res)

[4 3 2 1]

In [ ]:
#Using Loop
for i in range(len(arr1)-1,-1,-1):
  print(arr1[i])

4
3
2
1

concatenate lists element wise.

In [ ]:
list1= ['W', 'a', 'w','b']
list2 = ['e', ' ','riting','log']

for x,y in zip(list1,list2):
  print(x+y,end=' ')

We a  writing blog

In [ ]:
# Method2
# Find the maximum length from given list
def find_max_len(list1,list2):
  if len(list1)>len(list2):
    return len(list1)
  else:
    return len(list2)

list1= ['W', 'a', 'w','b']
list2 = ['e', ' ','riting','log']
max_len=find_max_len(list1,list2) #adding or concatenate element of list index by index position
for i in range(max_len):
  print(list1[i]+list2[i],end=' ')

We a  writing blog

####Write a program to replace the element of given list
1.Replace all integer that are evenly divisible by 3 with 'fizz'.
2.Replace all integer divisible by 5 with 'buzz'.
3.Replace all integer divisible by both 3 and 5 with fizzbuzz.

In [ ]:
def fizz_buzz(numbers):
  for i in range(len(numbers)):
    num=numbers[i]
    if num%3==0:
      numbers[i]='fizz'
    if num%5==0:
      numbers[i]='buzz'
    if num%3==0 and num%5==0:
      numbers[i]='fizzbuzz'
  return numbers

In [ ]:
numbers=[45,22,14,65,97,72]
fizz_buzz(numbers)

['fizzbuzz', 22, 14, 'buzz', 97, 'fizz']