In [ ]:
a='niteshpandey'

a[::2]

'ntspne'

In [ ]:
def string_cal(str1):
  l=len(str1)
  c=0
  while c<l:
    print(str1[c],end='')
    c+=2;
  
  # d=1
  # while c<l:
  #   print(str1[d],end='')
  #   c+=1;

In [ ]:
string_cal('niteshpandey')

ntspne

### Reverse of string

In [52]:
### Method-1
s='nitesh'
l=len(s)-1
output=''
while l>=0:
  output=output+s[l]
  l=l-1;
print(output)

hsetin

In [57]:
### Method-2
''.join(list(reversed(s)))

'hsetin'

In [ ]:
### Method-3
a='Nitesh'
for i in reversed(a):
  print(i,end='')

In [ ]:
### Method-4
a[::-1]

In [ ]:
### Method-5
l=len(a)-1
output=''

for i in range(l,-1,-1):
  output=output+a[i]
print(output)

### Separate numerical and character value from given string

In [ ]:
def string_numeric(string_value):
  try:
    s1=s2='' ##Create 2 empty string one for numeric character and one for non numerica character
    s=string_value.replace(" ",'') ##remove the space between given string
    for i in s:
      if i.isalpha():
        s1=s1+i
      else:
        s2=s2+i
    print(s1,s2)
  except Exception as e:
    print(f'Error occured as {e}')

In [ ]:
s=input('Enter the string:')
string_numeric(s)

Enter the string:SDJEWJE234as
SDJEWJEas 234

### Separate numerical,non-numerical and special character value from given string

In [ ]:
def string_numeric(string_value):
  try:
    s1=s2=s3='' ##Create 3 empty string one for numeric character and one for non numerica character and 3rd is for special character
    s=string_value.replace(" ",'') ##remove the space between given string
    for i in s:
      if i.isalpha(): ##capture the alphabet value
        s1=s1+i
      elif i.isnumeric(): ##capture the numeric value
        s2=s2+i
      else:   ##capture the special character value
        s3=s3+i

    print(s1,s2,s3)
  except Exception as e:
    print(f'Error occured as {e}')

In [ ]:
s=input('Enter the string:')
string_numeric(s)

Enter the string:nitesh@123#
nitesh 123 @#

### Sort the string and then convert it into upper case

In [ ]:
def sort_upper(s1):
  output=''
  for x in sorted(s1):
    output=output+str.upper(x)
  return output
# for x in sorted(s2):
#     output=output+str.upper(x)

In [ ]:
s1=input("enter the string:")
sort_upper(s1.lower())

enter the string:ABeeecD

'ABCDEEE'

In [ ]:
d='sdsfsfsdffsd'

In [ ]:
import pandas as pd;
ser1=pd.Series(list(d),index=None)

In [ ]:
ser1

0     s
1     d
2     s
3     f
4     s
5     f
6     s
7     d
8     f
9     f
10    s
11    d
dtype: object

In [ ]:
ser1.value_counts()

s    5
f    4
d    3
dtype: int64

In [ ]:
a,b=int(input('Enter Value of A:')),int(input('Enter Value of B:'))

Enter Value of A:4
Enter Value of B:5

In [ ]:
x, y, z, n = [int(input()) for _ in range(4)]
listOfAnswers = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]
print(listOfAnswers)

1
2
3
2
[[0, 0, 0], [0, 0, 1], [0, 0, 3], [0, 1, 0], [0, 1, 2], [0, 1, 3], [0, 2, 1], [0, 2, 2], [0, 2, 3], [1, 0, 0], [1, 0, 2], [1, 0, 3], [1, 1, 1], [1, 1, 2], [1, 1, 3], [1, 2, 0], [1, 2, 1], [1, 2, 2], [1, 2, 3]]

### Find unique and 2nd largest values from list

In [ ]:
import numpy as np
def second_largest_num(n,arr):
  try:
    if n==len(arr):
      print('Array:',arr)
      print('Array without duplicate:',np.unique(arr)) ##Find unique number along and place in ascending order
      print('2nd Largest value is :',np.unique(arr)[-2]) ##Find the 2nd largest number 

    else:
      print('Number of element present in array is not equal to mention number of element')
  except:
    print('Please enter valid value and try again')

In [ ]:
n = int(input('Enter the number of elements:'))
arr = list(map(int, input("Enter the numbers :").split())) #take input as list of value
second_largest_num(n,arr)

Enter the number of elements:4
Enter the numbers :1 2 3 4
Array: [1, 2, 3, 4]
Array without duplicate: [1 2 3 4]
2nd Largest value is : 3

Enter the number of student:4
dsad
34
dfdf
4
dfdf
67
cvcv
34
[['dsad', 34.0], ['dfdf', 4.0], ['dfdf', 67.0], ['cvcv', 34.0]]

In [ ]:
import re;

s='my name is nitesh pandey'
find='nitesh'
match=re.search(find,s);
if match:
  print('found',match.group())
else:
  print('not found');

found nitesh

In [ ]:
def solve(students):
   min_mark = min(x[1] for x in students)
   print(min_mark)
   students = [x for x in students if x[1] > min_mark]
   print(students)
   min2_mark = min(x[1] for x in students)
   students = sorted([x[0] for x in students if x[1] == min2_mark])
   for x in students:
      print(x)

# students = [['Amal',37],['Bimal',37],['Tarun',36],['Akash',41],['Himadri',39]]
# solve(students)

In [ ]:
numberOfStudents = int(input('Enter the number of student:'))
classList = []
for i in range(numberOfStudents):
    classList.append([str(input()), float(input())])
print(classList)
solve(classList)

Enter the number of student:3
Amal
34
Bimal
56
Tarun
43
[['Amal', 34.0], ['Bimal', 56.0], ['Tarun', 43.0]]
34.0
[['Bimal', 56.0], ['Tarun', 43.0]]
Tarun

In [ ]:
stud = [['Amal',37],['Bimal',37],['Tarun',36],['Akash',41],['Himadri',39]]
min_marks=min(x[1] for x in stud) #find the minimum values from list 
print(min_marks)

36

In [ ]:
min_marks_stud=[x for x in stud if x[1]>min_marks]
print(min_marks_stud);

[['Amal', 37], ['Bimal', 37], ['Akash', 41], ['Himadri', 39]]

In [ ]:
min2_score=min(x[1] for x in stud )
print(min2_score)
min2_stud=sorted(x[0] for x in stud if x[1]==min2_score)
print(min2_stud);

36
['Tarun']

#### Find largest length of word in given string

In [ ]:
d={}
for i in a:
  d[i]=len(i)
key_list = list(d.keys())
val_list = list(d.values())
val=max(d.values())
position = val_list.index(val)
print(key_list[position])

### Count of character in given string

In [ ]:
def count_character(sentence,sub_string):
  count=0
  for i in range(len(sentence)):
    value=sentence[i:i+len(sub_string)]
    if value==sub_string:
      count+=1
  print(f'Value of substring occure in sentence {count} times')

In [ ]:
# sub_string='n'
# sentence='Niteshahhhnnnn nnnn';
sentence=input('Ener the sentence:')
sub_string=input('Enter substring which you want to find:')
count_character(sentence,sub_string)

Ener the sentence:eeeee
Enter substring which you want to find:ee
Value of substring occure in sentence 4 times

In [ ]:
st=input()

for word in str.split(st):
  print(''.join(word.capitalize()))

nitesh pandey
Nitesh
Pandey

In [ ]:
print(' '.join(word.capitalize() for word in st.split(' ')))

Nitesh Pandey

In [ ]:
def leap_year(year):
  leap=False
  return (year%4==0 and year%100!=0) or year%400==0

In [ ]:
leap_year(2024)

True

In [ ]:
n = int(input())
for i in range(1,n+1):
  print(i ,end='')

5

In [ ]:
x = int (input()) 
y = int (input()) 
z = int (input()) 
n = int (input()) 

print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

1
1
1
1
[[0, 0, 0], [0, 1, 1], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

### Find perfect square between given range

In [ ]:
def perfectsquare(a,b):
    count=0
    for i in range(a,b):
        for j in range(1,10):
            if np.sqrt(i)%j==0:
                print(int(np.sqrt(i)),end=' ')
                count+=1
                break
    print('\ncount between given range is:',count)

a,b=[int(input()) for _ in range(2)]
perfectsquare(a,b)

1
10
1 2 3
count between given range is: 3

In [ ]:
def perfectSquares(l, r):
 
    # For every element from the range
    for i in range(l, r + 1):
 
        # If current element is
        # a perfect square
        if (i**(.5) == int(i**(.5))):
            print(i, end=" ")

In [ ]:
perfectSquares(1,25)

1 4 9 16 25

In [ ]:
def perfectSquares(l, r):
    for i in range(l, r + 1):
        if (i**(.5) == int(i**(.5))): ###np.sqrt(i)==int(np.sqrt(i))
            print(i, end=" ")

a,b=[int(input()) for _ in range(2)]
perfectSquares(a,b)

1
25
1 4 9 16 25

### Even word from list element

In [1]:
def even_words(word):
    list1=word.split()
    print(list1)
    for p in list1[:]:
        if (len(p)%2!=0):
            list1.remove(p)
    print(list1)

In [2]:
even_words('i nit am nitesh ggggg')

['i', 'nit', 'am', 'nitesh', 'ggggg']
['am', 'nitesh']

### Longest length of even words from given list of element

In [7]:
def longestWord(word):
    list1=word.split()
    print(list1)
    for p in list1[:]:
        if (len(p)%2!=0):
            list1.remove(p)
    print(list1)        
    #print('Largest word in the syntex is:',max(list1,key=lambda word: len(word)))  
    print (max(list1,key=len))

### Longest word from given list of elements

In [5]:
s=input('Enter the string:')
a=s.split()
print (max(a,key=len))

Enter the string:qwer fffffff
fffffff

In [8]:
longestWord('fqqqqq ddd qqqqqq ddddddd vvvvvvvv yyyyyyyyy')

['fqqqqq', 'ddd', 'qqqqqq', 'ddddddd', 'vvvvvvvv', 'yyyyyyyyy']
['fqqqqq', 'qqqqqq', 'vvvvvvvv']
vvvvvvvv

In [11]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    print(word_len)
    return word_len[-1][1]

In [14]:
s=input('Enter the string:')
a=s.split()
print(a)

Enter the string:asasa qweqeqweqwe  asdadada
['asasa', 'qweqeqweqwe', 'asdadada']

In [13]:
find_longest_word(a)

[(4, 'ewew'), (5, 'asdfg'), (10, 'sdsdsdsdsd')]

'sdsdsdsdsd'

In [15]:
name='Nitesh pandey'
"".join(name.split())

'Niteshpandey'

In [16]:
print(ord('N'))
print(chr(65))

78
A

In [ ]:
a=294
l=str(294)
for i in range(len(l)):
  print(l[i])

2
9
4

In [29]:
[int(x) for x in str(294)]

[2, 9, 4]

Print only unique number from given integer

In [53]:
s1=str(1113334555)
l=[]
for ch in s1:
  if ch not in l:
      l.append(ch)
      
  else:
      l.remove(ch)

b=len(l)
if b==0:
    print('-1')
else:
    for a in l:
        print(int(a),end=' ')

1 3 4 5

### Find unique number only from given integer input

In [35]:
a=1234544555
b=str(a)
c=set(b)
print(c)

{'4', '1', '2', '5', '3'}

In [56]:
mylist = ["a", "b", "a", "c", "c"]
mylist = list(dict.fromkeys(mylist))
print(mylist)

['a', 'b', 'c']

In [ ]:
mylist = ["a", "b", "a", "c", "c"]
list(dict.fromkeys(mylist))

['a', 'b', 'c']

In [38]:
mylist = ["a", "b", "a", "c", "c"]

In [46]:
output=[]
for ch in mylist:
  if ch not in output:
    output.append(ch)
print(output)

['a', 'b', 'c']

### Find the no of days in given month

In [51]:
import calendar
a=int(input('Enter the month value in numeric form:'))
if a<13 and a>0:
    print('No of days in month is',calendar.mdays[a])
else:
    print('Error')

Enter the month value in numeric form:3
No of days in month is 31

'hsetin'

In [ ]:
n='a4z3b2'
a=[]

for ch in n:
  print('charactr',ch)
  if ch.isalpha():
    print(ch)
    x=ch
  else:
    a.append(x*int(ch))

print(''.join(sorted(a)))

charactr a
a
charactr 4
charactr z
z
charactr 3
charactr b
b
charactr 2
aaaabbzzz

In [58]:
import threading
print(threading.current_thread().getName())

MainThread

In [59]:
from threading import *
def thread():
  for i in range(6):
    print(f"thread number {i} executing")

In [ ]:
t=Thread(target=thread);
print(threading.current_thread().getName())
t.run()

MainThread
thread number 0 executing
thread number 1 executing
thread number 2 executing
thread number 3 executing
thread number 4 executing
thread number 5 executing

In [ ]:
from time import sleep
from threading import Thread
class hello(Thread):
  def run(self):
    for i in range(50):
      print('hello method')
      sleep(1)

class hi(Thread):
  def run(self):
    for i in range(50):
      print('hi method')
      sleep(1)

In [ ]:
t1=hello()
t2=hi()

In [ ]:
t1.start()
sleep(2)
t2.start()
print('Bye')

hello method
hello method
hello method
hi methodBye

In [ ]:
from time import sleep
from threading import Thread

class Hello(Thread):
    def run(self):
        for i in range(150):
            print('Hello')
            sleep(1)
            
class Hi(Thread):
    def run(self):
        for i in range(150):
            print('Hi')
            sleep(1)

t1=Hello()
t2=Hi()

t1.start()
sleep(2)
t2.start()
t1.join()
t2.join()
print('Bye')

Hi
Hello
Hello
Hi
Hello
Hello
Hi
Hello
Hello
Hi
HiHello

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
HiHello

Hi
Hello
HelloHi

Hi
Hello
HiHello

Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
HiHello

Hello
Hi
HelloHi

Hello
Hi
HelloHi

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
HelloHi

Hello
Hi
HiHello

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
HelloHi

Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
HiHello

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
HelloHi

Hello
Hi
HelloHi

Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
HelloHi

Hi
Hello
Hi
Hello
Hi
Hello
HelloHi

Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hello
Hi
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
HiHello

Hi
Hello
HiHello

Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
HiHello

Hi
Hello
HelloHi

Hi
Hello
Hello
Hi
Hi
Hello
HelloHi

Hi
Hello
HiHello

Hi
Hello
Hi
Hi
Hello
Hi
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hi
Bye

In [61]:
import re
d=re.compile(r'Bat(wo)+man')
e=d.search('sdsdsdyou are not a Batwoman')
print(e.group())

Batwoman

In [62]:
be=re.compile(r'^hello')
be.search('hello my best freind')==None

False

In [63]:
be=re.compile(r'hello$')
be.search('hello my best freind')==None

True

In [64]:
atregex=re.compile(r'.at')
atregex.findall('cat sshat rat mat flat')

['cat', 'hat', 'rat', 'mat', 'lat']

In [65]:
a=re.compile(r'Nitesh',re.I)
a.findall('Nitesh pandey is nitesh pandey')

['Nitesh', 'nitesh']

In [68]:
a.search('pandey is nitesh pandey').group()

'nitesh'

In [69]:
a.search('pandey is nitesh pandey')